

    /* paste CSS below this line */
    #map {
          width:100%;
          height:100%;
    }

    .hide{
      display: none;
    }

    h1, h3{
        font-family: "Arial", "Verdana"
    }


    .marker-cluster-color {
        background-color: rgba(44, 127, 184, 0.6);
    }

    .marker-cluster-color div {
        background-color: rgba(44, 127, 184, 0.6);
    }



    .sliderDiv{
        /* display:inline-block; */
        width: 99%;
        height: 8%;
        margin-bottom: 5px;
        padding-left: 3%;
        /* margin-top: 25px; */
    }

    .sliderDiv p{
        display:inline-block;
    }

    #slider-range{
        display:inline-block;
        width: 68%;
        top:.3em;
    }

    input.sliderValue{
        border:0;
        color:#4E91BE;
        font-weight:bold;
    }

    .filterCheckBox{
        display: block;
        margin: 2% 0 0 0;
    }

    /* Customize the label (the container) */
        .checkBoxContainer {
          display: inline-block;
          position: relative;
          padding-left: 4em;
          margin-bottom: 1%;
          cursor: pointer;
          /* font-size: 22px; */
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        /* Hide the browser's default checkbox */
        .checkBoxContainer input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 2.5em;
          height: 18px;
          width: 18px;
          background-color: #eee;
          border-radius: 5px;
        }

        /* On mouse-over, add a grey background color */
        .checkBoxContainer:hover input ~ .checkmark {
          background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        /* .checkBoxContainer input:checked ~ .checkmark {
          background-color: #2196F3;
        } */
        .checkBoxContainer input:checked ~ .accommodation_marker {
          background-color: #4B92C0;
        }
        .checkBoxContainer input:checked ~ .event_marker {
          background-color: #F99D4C;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the checkmark when checked */
        .checkBoxContainer input:checked ~ .checkmark:after {
          display: block;
        }

        /* Style the checkmark/indicator */
        .checkBoxContainer .checkmark:after {
          left: 6px;
          top: 2px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
